<%- include("header") -%>
<link rel="stylesheet" href="css/style-contact.css">

<div class="container">
   <!-- <h1 class="brand"><span>Acknowledgement</span></h1> -->
   <div class="wrapper animated bounceInLeft">
      <div class="company-info">
         <h1 class="brand"><span>Error...</span></h1>
         <hr>
         <h3>Sorry we screwed up.</h3>
         <br />
         <h3>Please let us know how did you arrive to this page?</h3>
         <h3><a href="contact">Click here</a>.</h3>

      </div>
   </div>
</div>
<%- include("footer") -%>