<!-- Begin Footer Area -->
<div class="background-slate-blue footer">
   <footer id="footerArea">
      <br />
      <p>
         &copy; 2017
         <script>
            new Date().getFullYear() > 2010 && document.write("-" + new Date().getFullYear());
         </script> ratnalama.com. All rights reserved.
      </p>

      <ul class="nav justify-content-center">
         <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
         </li>
         <li><a class="nav-link" href="#">|</a></li>
         <li class="nav-item">
            <a class="nav-link" href="privacy-policy">Privacy Policy</a>
         </li>
      </ul>
      <br />
   </footer>
</div>
<!-- End Footer Area -->

<!-- Begin Script Section -->
<!-- Boostrap4 JQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
   integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
   integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>

<!-- Bootstrap4 Javascript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
   integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous">
</script>
<!-- End Script Section -->
</body>

</html>