<!DOCTYPE html>
<html>

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <title>ratnalama.com</title>
   <meta name="Description" content="A self-starter fast learner software engineer that make things happen.">
   <meta name="Keywords"
      content="Software Engineer, Software Developer, Backend Engineer, Backend Developer, Frontend Engineer, 
      Frontend Developer, Full-Stack Engineer, Full-Stack Developer, Artificial Intelligence, AI, Machine Learning, ML, Java developer, AWS developer, NodeJS developer, NodeJS Express developer, Data Science, Data Scientist, Team Leader">
   <meta name="author" content="Ratna K Lama">

   <!-- Favicon -->
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

   <!-- Simplified and Minified Bootstrap4 CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" />

   <!-- Animate CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />

   <!-- Custom CSS style -->
   <link rel="stylesheet" type="text/css" href="css/style.css" />

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Pacifico&display=swap" rel="stylesheet" />
   <%- include("google-analytics") -%>
   <!-- Google reCaptcha-->
   <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>