<!DOCTYPE html>
<html>

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />

   <!-- Simplified and Minified Bootstrap4 CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" />

   <!-- Animate CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />

   <!-- Custom CSS style -->
   <link rel="stylesheet" type="text/css" href="css/style.css" />

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Pacifico&display=swap" rel="stylesheet" />

   <title>ratnalama.com</title>
</head>

<body>