<%- include("header") -%> <%- include("navigation") -%>
<!-- Begin Container -->
<div class="container-spacy background-orange">
  <!-- Begin Header -->
  <header class="row" id="main">
    <div class="large-4 column">
      <div class="brand">
        <a href="#">Ratna Lama</a>
      </div>
    </div>
  </header>
  <!-- End Header -->

  <!-- Begin Feature Row #1 -->
  <div class="container row feature">
    <div class="row">
      <!-- Begin Column #1 -->
      <div class="col-sm">
        <h1>Make things happen</h1>
      </div> <!-- End Column #1 -->
      <!-- <div class="col-sm"></div> -->

      <!-- Begin Column #2 -->
      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="100">
              <img src="images/handshake.jpg" class="d-block w-100" alt="Handshake">
              <div class="carousel-caption d-none d-md-block">
                <h5>Human connection is the key to the personal and career success.</h5>
                <p>- Paul J. Meyer</p>
              </div>
            </div>
            <div class="carousel-item" data-interval="200">
              <img src="images/bee-teamwork.jpg" class="d-block w-100" alt="Teamwork">
              <div class="carousel-caption d-none d-md-block">
                <h5>Talent wins games, but teamwork wins championships.</h5>
                <p>- Michael Jordan</p>
              </div>
            </div>
            <div class="carousel-item" data-interval="100">
              <img src="images/success.jpg" class="d-block w-100" alt="Success">
              <div class="carousel-caption d-none d-md-block">
                <h5>Success is getting what you want. Happiness is wanting what you get.</h5>
                <p>- Dale Carnegie</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div> <!-- End Column #2 -->
    </div> <!-- End row -->
  </div>
  <!-- End Feature Row #1 -->
</div>
<!-- End Container -->

<!-- Begin Feature #2 Experience -->
<div class="container-spacy background-white feature2" id="experience">
  <h2>Experience</h2>
  <div class="row">
    <div class="col-sm">
      <img src="images/forex.jpg" alt="foreign exchange" class="rounded-circle" />
      <h5>Founder</h5>
      <ul>
        <li>
          Built
          <a href="https://www.forexkarma.com/" target="_blank">forexkarma.com</a>
          from the ground-up, concept to deployment
        </li>
        <li>
          Created over eighty unique SEO optimized web pages
        </li>
        <li>Drove traffic ogranically from 0 to 50K/month</li>
      </ul>
    </div>
    <div class="col-sm">
      <img src="images/web-developer-02.jpg" alt="web developer" class="rounded-circle" />
      <h5>Frontend Developer</h5>
      <ul>
        <li>
          Built
          <a href="http://littlenepalsf.com.s3-website-us-west-1.amazonaws.com/" target="_blank">littlenepalsf.com</a>
          from the ground-up, concept to deployment
        </li>
        <li>Built SEO optimized pages to grow the site ogranically</li>
        <li>
          Integrated third paryt app to facilitate e-commerce capability
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <img src="images/mentor.png" alt="mentor tutor" class="rounded-circle" />
      <h5>Mentor/Tutor</h5>
      <ul>
        <li>
          Led mentoring services for the first-year international students
          representing thirty different nations
        </li>
        <li>
          Mentored and supported student's academic performances throughout the
          first year
        </li>
        <li>
          Provided outstanding mathematics tutoring to the college-level
          students
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- End Feature #2 -->

<!-- Begin Feature #3 -->
<div class="container-spacy background-green projects" id="portfolio">
  <h2>Portfolio</h2>
  <p>
    My undertaking of various Computer Science (CS) projects demonstrate my
    knowledge of paradigms of procedural, functional, logic and object-oriented
    programming. I have understanding of full software development life cycle.
    Moroever, I have understanding of multi-paradigm languages and techniques of
    software development in multi-paradigm environments.
  </p>
  <ul class="inline-list">
    <li class="selected">
      <a href="https://github.com/rlama7" target="_blank">All</a>
    </li>
    <li>
      <a href="http://52.53.190.148:8080/lists" target="_blank">Full Stack</a>
    </li>
    <li>
      <a href="https://github.com/rlama7/RegressionAnalysis" target="_blank">Machine Learning</a>
    </li>
    <li>
      <a href="https://github.com/rlama7/inthedengame" target="_blank">Game</a>
    </li>
    <li>
      <a href="https://github.com/rlama7/DEVchat" target="_blank">Chat App</a>
    </li>
    <li>
      <a href="https://github.com/rlama7/ExpressionEvaluator" target="_blank">Calculator</a>
    </li>
  </ul>

  <!-- Begin Row #1 -->
  <div class="row">
    <div class="col-sm">
      <div class="item background-slate-blue">
        <img src="images/home-01.jpg" alt="House" class="rounded-circle" />
        <h5 class="card-title">OASIS</h5>
        <p class="card-text">
          Led a team of five students to develop a craigslist listing-esque full
          web application using the best practices of modern software
          engineering processes such as scrum/agile and user centered design for
          good user experience
        </p>
        <a href="http://52.53.190.148:8080/lists" target="_blank" class="btn btn-primary">See live demo</a>
      </div>
    </div>
    <div class="col-sm">
      <div class="item background-purple">
        <img src="images/ai-01.jpg" alt="Artificial Intelligence" class="rounded-circle" />
        <h5 class="card-title">REGRESSION ANALYSIS</h5>
        <p class="card-text">
          Led a team of three students to develop a Machine Learning (ML) model
          using regression analysis technique to predict housing sales prices
          for the Kaggle competition
        </p>
        <a href="https://github.com/rlama7/RegressionAnalysis" target="_blank" class="btn btn-primary">See project</a>
      </div>
    </div>
    <div class="col-sm">
      <div class="item background-red">
        <img src="images/chat-02.png" alt="real time chat" class="rounded-circle" />
        <h5 class="card-title">DEVchat</h5>
        <p class="card-text">
          Led a team of five students to develop a real-time chat web
          application using NodeJS Express in the Backend and React-Redux in the
          Frontend
        </p>
        <a href="https://github.com/rlama7/DEVchat" target="_blank" class="btn btn-primary">See project</a>
      </div>
    </div>
  </div>
  <!-- End Row #1 -->

  <!-- Begin Row #2 -->
  <div class="row">
    <div class="col-sm">
      <div class="item background-yellow">
        <img src="images/lion-04.png" alt="lion" class="rounded-circle" />
        <h5 class="card-title">In the Den Game</h5>
        <p class="card-text">
          Built a single player multi-targets 2-D game in JAVA from scratch
          implementing the best practices of Object Oriented Programming (OOP)
        </p>
        <a href="https://github.com/rlama7/inthedengame" target="_blank" class="btn btn-primary">See project</a>
      </div>
    </div>
    <div class="col-sm">
      <div class="item background-baby-blue">
        <img src="images/calculator-01.jpg" alt="calculator" class="rounded-circle" />
        <h5 class="card-title">CALCULATOR</h5>
        <p class="card-text">
          Designed and built a program to evaluate an infix expression in JAVA
          with graphical user interface functionality
        </p>
        <a href="https://github.com/rlama7/ExpressionEvaluator" target="_blank" class="btn btn-primary">See project</a>
      </div>
    </div>
    <div class="col-sm">
      <div class="item background-blue">
        <img src="images/linux.png" alt="linux shell command line interpreter" class="rounded-circle" />
        <h5 class="card-title">LINUX SHELL</h5>
        <p class="card-text">
          Built a command line interpreter which reads and parses the command
          line inputs into the buffer and executues the POSIX terminal commands
        </p>
        <a href="https://github.com/rlama7/LinuxCommandLineInterpreter" target="_blank" class="btn btn-primary">See
          project</a>
      </div>
    </div>
  </div>
  <!-- Begin Row #2 -->

  <a href="https://github.com/rlama7?tab=repositories" target="_blank" class="btn btn-secondary show-more">Show more</a>
</div>
<!-- End Feature #3 -->

<!-- Begin Skill Area -->
<div class="container-spacy background-red skill" id="skill">
  <h2>Skill</h2>
  <!-- Begin row #1-->
  <div class="row">
    <div class="col-sm">
      <h5>Programming Languages</h5>
      <hr />
      <ul>
        <li>Java</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>C++</li>
        <li>C</li>
        <li>Ruby</li>
        <li>Prolog</li>
        <li>Scheme</li>
      </ul>
    </div>

    <div class="col-sm">
      <h5>Frontend</h5>
      <hr />
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>React</li>
      </ul>
    </div>

    <div class="col-sm">
      <h5>Backend</h5>
      <hr />
      <ul>
        <li>NodeJS Express</li>
        <li>Amazon Web Services (AWS)</li>
        <li>MySQL</li>
        <li>MongoDB</li>
        <li>Scikit-Learn</li>
        <li>NumPy</li>
        <li>Pandas</li>
        <li>Python Flask</li>
        <li>Git</li>
      </ul>
    </div>
  </div>
  <!-- End row#1 -->
</div>
<!-- End Skill Area -->

<!-- Begin About Area -->
<div class="container-spacy background-purple about" id="about">
  <h2>About</h2>
  <div class="row">
    <div class="col-sm">
      <p>
        I would describe myself as a self-starter, versatile, determined and
        someone who is learning from my mistakes. I am creative, open-minded and
        easy going. I enjoy working in the team and believe together we can
        accomplish greater things in the shortest period
      </p>
    </div>
    <div class="col-sm">
      <p>
        During my course of study I gained knowledge of multi-paradigm languages
        and techniques of software development in multi-paradigm environments
        such as procedural, functional, logic and object oriented programming
      </p>
    </div>
    <div class="col-sm">
      <p>
        In my senior year I led a team of five members to build a full web
        application using the best practices of modern software engineering
        processes such as agile/scrum and user-centered design for providing a
        good user experience
      </p>
    </div>
    <div class="col-sm">
      <p>
        When I’m not working, I enjoy the company of my family. I love exercising, cooking,
        reading and meditation
      </p>
    </div>
  </div>
  <!-- End row-->

  <!-- Contact Me Button -->
  <a href="contact" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Contact Me</a>
</div>
<!-- End About Area -->

<%- include("footer") -%>