<!-- Begin Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" href="/"><img src="images/rlama02.png" alt="ratnalama.com" width="64" height="64"
         class="rounded-circle"></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a class="nav-link" href="#experience">Experience</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#portfolio">Portfolio</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#skill">Skill</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="rlama.pdf">Resume</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="https://github.com/rlama7" target="_blank">
               <img src="images/github.jpg" class="rounded" width="45" height="45" alt=""></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/rlama7" target="_blank">
               <img src="images/linkedin.jpg" class="rounded" width="45" height="45" alt=""></a>
         </li>
      </ul>
   </div>
</nav>
<!-- End Navigation -->