<%- include("header") -%>
<link rel="stylesheet" href="css/style-contact.css">

<div class="container">
   <!-- <h1 class="brand"><span>Acknowledgement</span></h1> -->
   <div class="wrapper animated bounceInLeft">
      <div class="company-info">
         <h1 class="brand"><span>Acknowledgement</span></h1>
         <hr>
         <h3>Success...I've received your message.</h3>
         <h3>Thank you in advance for contacting.</h3>
         <br />
         <h3>I'll respond to your inquiry at the earliest convenience.</h3>
         <h3>- Ratna</h3>
      </div>
   </div>
</div>
<%- include("footer") -%>